*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #2F3B40;;
}

header {
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imgs/bg.png");
}

.navbar {
  background-color: transparent;
}

a.navbar-item {
  color: #fff;
  text-decoration: none;
}

.hero-body {
  padding: 0;
}

.hero-text h1, .hero-text h2 {
  position: relative;
  bottom: 600px;
  color: #fff;
}
