body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #2F3B40;
}

body[data-aos-duration='10000'] [data-aos],
[data-aos][data-aos][data-aos-duration='10000'] {
  transition-duration: 10000ms;
}

header {
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imgs/bg.png");
}

.navbar {
  background-color: transparent;
}

a.navbar-item {
  color: #fff;
  text-decoration: none;
}

.hero-body {
  padding: 0;
}

.hero-text h1, .hero-text h2 {
  position: relative;
  bottom: 600px;
  color: #fff;
}

/* scrolling logos */
/* .scroll {
  position: absolute;
  display: inline-block;
} */

/* .card-image:hover {
  animation: scroll 4s alternate-reverse ease 3;
} */

.image {
  display: flex;
  position: relative;
  animation: scroll 26s alternate-reverse ease 6;
  white-space: nowrap;
  transition: transform 500ms;
  will-change: transform;
}

img.is-rounded {
  margin: 3%;
  height: 200px;
  width: 200px;
}

@keyframes scroll {
  from {left: 0px;}
  to {right: 1400px;}
}


/* info sctns */
.about {
  display: grid;
  grid-template-columns: ;
  grid-template-areas: 
    "header header header"
    "about subHead subHead"
    "about servHead servHead"
    "about services services";
  color: #fff;
}

#about-header {
  margin-bottom: 2%;
  grid-area: header;
  align-items: baseline;
  justify-content: center;
}

#about-header, #wide {
  display: flex;
  width: auto;
}

#wide {
  position: relative;
}

.about h2 {
  padding: 1%;
  margin: 0;
  width: fit-content;
  background: radial-gradient(#ffffff00, transparent);
  color: #fff;
  font-weight: 600;
  line-height: 1.125;
  text-shadow: 2px 2px 2px #f4c4306e;
}

/* 'wide' aos */
div .slideLeft {
  position: relative;
  animation: slideLeft 3s 1s alternate 2;
}

@keyframes slideLeft {
  from {left: 0%;}
  to {left: -6%;}
}

div .slideLeft2 {
  position: relative;
  animation: slideLeft2 3s 1s alternate 2;
}

@keyframes slideLeft2 {
  from {left: 0%;}
  to {left: -70%;}
}

div .slideLeft3 {
  position: relative;
  animation: slideLeft3 3s 1s alternate 2;
}

@keyframes slideLeft3 {
  from {left: 0%;}
  to {left: -24%;}
}

div .slideRight {
  position: relative;
  animation: slideRight 3s 1s alternate 2;
}

@keyframes slideRight {
  from {right: 0%;}
  to {right: -24%;}
}

div .slideRight2 {
  position: relative;
  animation: slideRight2 3s 1s alternate 2;
}

@keyframes slideRight2 {
  from {right: 0%;}
  to {right: -68%;}
}

div .slideRight3 {
  position: relative;
  animation: slideRight3 3s 1s alternate 2;
}

@keyframes slideRight3 {
  from {right: 0%;}
  to {right: -6%;}
}


.subHead {
  grid-area: subHead;
  padding: 0 3%;
}

.servHead {
  grid-area: servHead;
  display: flex;
  padding: 0 4%;
}

.services {
  padding: 0 2%;
  grid-area: services;
}

.about-info {
  grid-area: about;
  padding: 4%;
  align-self: center;
  text-align: -webkit-right;
  border-right: 2px solid #f4c430;
}

#about-boxes {
  text-align: right;
}

.columns {
  margin: auto;
  justify-content: space-around;
}

.tile {
  background-color: aqua;
  border: 1px solid #2F3B40;
}

div.content {
  margin: 10px;
}

.tile.is-ancestor {
  justify-content: space-evenly;
}

.title h2 {
  margin-right: 1%;
  margin-bottom: 4%;
  padding-right: 1%;
  color: #F4C430;
  border-right: 4px solid #606364;
}

.title {
  display: flex;
  color: #fff;
  justify-content: center;
}

.service-cards {
  display: flex;
  margin: 0;
  padding: 0;
}

.service {
  margin: 10% 2% 0 2%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 420px;
  align-items: flex-end;
  border-top: 2px solid #F4C430;
}

/* div .service {
  animation: slideUp 3s 1s 1;
}

@keyframes slideUp {
  from {border-top: 102px solid #F4C430;}
  to {border-top: 2px solid #F4C430;}
}
*/

.service2 {
  align-self: center;
}

.service2 p {
  padding-bottom: 6%;
  border-bottom: 2px solid #F4C430;
}


.footer {
  background-color: #2F3B40;
  color: #fff;
  padding: 1%;
  margin-top: 1%;
}